.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: $black;
  padding: 2vh 0;
  line-height: 0;
  height: auto;
  &__Contact {
    display: flex;
    flex-direction: row;
    font-size: 5em;
    align-items: center;
    justify-content: center;
    @media (max-width: 1100px) {
      font-size: 4em;
    }
    @media (max-width: 700px) {
      font-size: 3em;
    }
    @media (max-width: 450px) {
      font-size: 2em;
    }
    &__Tile {
      padding: 2vh 4vw;
      margin: 0 2vw;
      color: $white;
      cursor: pointer;
      &--Mail {
        &:hover {
          background-color: $white;
          color: $gmail;
        }
      }
      &--Facebook {
        &:hover {
          background-color: $white;
          color: $facebook;
        }
      }
      &--Github {
        &:hover {
          background-color: $white;
          color: $github;
        }
      }
      &--LinkedIn {
        &:hover {
          background-color: $white;
          color: $linkedIn;
        }
      }
    }
  }
  &__Copyrights {
    margin-top: 4vh;
    margin-bottom: 1vh;
  }
}
